{% extends "layout.html" %}
{% block content %}

    <h2 class="mb-2">About This Project</h2>

        <!-- <p> The motivation for this project came about when looking for Winter 2023 capstone projects and their corresponding presentations. I happened to miss the showcase at ETLC and couldn't find anything on the internet regarding the completed projects from that year, or any year for that matter. </p> -->
        <p> The motivation for this project is to crowdsource completed Engineering capstone projects and progressively build a wiki for future students to use as a benchmark when approaching their final year. </p>

        <p> Thus, <a href="https://www.capstonedepot.live/" class="categories">Capstone Depot</a> is a public shared repository where students/alumni could post their final projects and their respective posters. </p>

        <p> Through this resource, students can check out projects that have been done in previous terms, their implementations and their final presentations. With this information, they can get a feel for what kind of projects have been done before, how complex they are and how much work is expected of them. </p>

        <p> We truly hope this resource is useful for everyone using it.</p>


    <h2 class="mt-4 mb-2">FAQs</h2>

        <h3 class="my-2"> I want to upload my project but I don't want to create an account. What do I do?</h3>
            <p> No problem! We'll post your project on your behalf! Just send us an email at <a href="mailto:capstonedepot@gmail.com">capstonedepot@gmail.com</a> with your project poster, team member names and a short description of your project. It may be useful to confirm with the project's stakeholders that it's okay to put up the project before doing so.</p>
            <p> <strong>NB:</strong> Your project will be posted under the user "capstonedepot"</p>

        <h3 class="my-2"> Why can't I upload my PDF file?</h3>
            <p> Because of the complications of setting up a responsive PDF viewer in the browser, we figured we'd rather just have the image of the poster up instead. If you have the PDF version of your poster, you can convert it to a JPEG image <a href="https://www.ilovepdf.com/pdf_to_jpg" target="_blank" rel="noopener noreferrer">on this website</a>. It's fast and it's free. Thanks for contributing! &#128640;</p>
 
        <h3 class="my-2"> I can barely see the text on the posters. What do I do? </h3>
            <p> Just click on it to see the (much clearer) fullscreen version! </p>

        <h3 class="my-2"> When updating my post, the filename of my poster doesn't show up in the field </h3>
            <p> Don't worry about that. Your file is still attached and will stay attached when you complete the update. That's a known bug with one of the frameworks powering Capstone Depot; and we hope it will get fixed soon. </p>


    <h2 class="mt-4 mb-2">Get In Touch</h2>

        <p> If you have any recommendations/suggestions for new features for the site, feel free to shoot me an email at <a href="mailto:capstonedepot@gmail.com">capstonedepot@gmail.com</a> and we can chat about them. </p>

{% endblock content %}